<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/../static/css/style.css}" href="../../static/css/style.css"/>
  <title>Header</title>
</head>
<body>

<div class="header" th:fragment="header">
  <h1>Party Time </h1>>
  <div class="nav">
    <a class="buttonlook menubutton" th:href="@{/home}">home</a>
    <a class="buttonlook menubutton" th:href="@{/venuelist}">venuelist</a>
    <a class="buttonlook menubutton" th:href="@{/about}">about</a>
    <a class="buttonlook menubutton" th:href="@{/pay}">pay</a>
  </div>
</div>
</body>
</html>